#LogoImg{
	width: 100px;
	height: 100px
}
body{
	font-family: 'San Francisco', Helvetica, Arial, san-serif;
}
nav{
	font-size: 25px;
	background-color: maroon;
	color: white;
}
div.Para{
	text-align: center;
	color: darkgray;
}
.Bg-Para{
	font-size: 40px;
}
.Md-Para{
	font-size: 30px;
}
.Sm-Para{
	font-size: 20px;
}