#LogoImg{
	width: 100px;
	height: 100px
}
body{
	font-family: 'San Francisco', Helvetica, Arial, san-serif;
}
nav{
	font-size: 25px;
	background-color: maroon;
	color: white;
}
div.Para{
	font-size: 2vw;
	color: darkgoldenrod;
	/*font-family: "Sacramento";*/
	text-overflow: hidden;
	text-shadow: 4px 4px 4px #aaa;
	margin: 0;
}
div.Para p{
	animation: 20s linear infinite slide-right;
	animation-delay: 1s;
}
@keyframes slide-right{ 
	from { margin-left: 100%; width:300% }
  	to {margin-left: -50%; width:300%}
}